<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Web Community</title>
</head>
<body>
  <h1>The Etheral Sparkle Community</h1>
  <p>A Web Space for Sharing Knowledge about the World of Gemstones.</p>
  <%- include('./partials/_navbar.ejs') %>
  <a class="crystals-index-link" href="/crystals">Browse for your crystal</a>
  <a href="crystals/bridge">Share a gemstone</a>
  </body>
</html>